
  .qglvp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .qglvptitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qglvptitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .qglvptitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .qglvptitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .qglvptitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .qglvpbody {
    width: var(--max);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
  }

  .qglvpmenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }

  .qglvpmenulist {
    width: calc(100% - 20px);
    background-color: #056633;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .qglvpmenubody {
    width: 100%;
    background-color: #056633;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qglvpmenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .qglvpmenulist ul a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .qglvpmenulist ul a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .qglvp-menu-list-active {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }

  .qglvpmenulistbody {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .qglvpbodylogo {
      height: 100px;
      max-width: 90vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 1024px) {
    .qglvpmenu {
      overflow-x: auto;
    }

    .qglvpmenulist ul {
      flex-direction: row;
    }

    .qglvpbodylogo {
      width: 50vw;
      max-width: 50vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .qglvpmenulist ul a {
      font-size: 14px;
    }
  }


  .n3q21 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .n3q21body {
    width: var(--max);
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
  }
  .n3q21bodyitem {
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .n3q21bodyitem:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  .n3q21bodyitemimg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .n3q21bodyitemimg img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  .n3q21bodyitemtitle {
    padding: 8px;
    background-color: #e5e5e5;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
  @media screen and (max-width: 1024px) {
    .n3q21body {
      width: calc(100% - 20px);
      margin: 0 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 768px) {
    .n3q21body {
      width: calc(100% - 20px);
      margin: 0 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .footer {
    position: relative;
    background: #056633;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23056633;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 99;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 100;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 99;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

