
  .nq27y {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nq27ytitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nq27ytitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .nq27ytitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .nq27ytitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .nq27ytitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .nq27ybody {
    width: var(--max);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
  }

  .nq27ymenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }

  .nq27ymenulist {
    width: calc(100% - 20px);
    background-color: #056633;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nq27ymenubody {
    width: 100%;
    background-color: #056633;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nq27ymenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .nq27ymenulist ul a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .nq27ymenulist ul a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .nq27ymenulistactive {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }

  .nq27ymenulistbody {
    width: 100%;
  }






  @media screen and (min-width: 1024px) {
   .nq27ybodylogo {
    height: 100px;
    max-width: 90vw;
    max-height: 100px;
  }
  }

  @media screen and (max-width: 1024px) {
    .nq27ymenu {
      overflow-x: auto;
    }

    .nq27ymenulist ul {
      flex-direction: row;
    }

    .nq27ybodylogo {
      max-width: 50vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .nq27ymenulist ul a {
      font-size: 14px;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }


  .zb7t6 {
    width: 100%;
    margin: 15px 0;
  }

  .zb7t6body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .zb7t6bodyitem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
    width: calc((var(--max) / 2) - 10px);
    position: relative;
  }

  .zb7t6bodyitemlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }

  .zb7t6bodyitemimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: calc(100px * 2);
    margin-top: -100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #357795;
  }

  .zb7t6bodyitemimg:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }

  .zb7t6bodyitemimg img {
    max-height: 100px;
    max-width: calc(100px * 2);
    border-radius: 10px;
  }

  .zb7t6bodyitemtitle {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    width: 100;
    margin-top: 10px;

  }

  .zb7t6bodybg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    opacity: 0.2;
  }

  .zb7t6bodyitems {
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #357795;
    gap: 15px;
    opacity: 0;
    margin-top: 100px;
    position: relative;
    transition: opacity 0.3s ease, transform 0.5s ease;
  }

  .zb7t6bodyitems.left {
    align-self: flex-start;
    border-radius: 0px 10px 10px 0px;
    transform: translateX(-100px);
  }

  .zb7t6bodyitems.right {
    align-self: flex-end;
    border-radius: 10px 0px 0px 10px;
    transform: translateX(100px);
  }

  .zb7t6bodyitems.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .zb7t6bodyitem.lefts {
    align-self: flex-end;
  }

  .zb7t6bodyitem.rights {
    align-self: flex-start;
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .zb7t6bodyitems {
    animation-delay: 0.3s;
  }

  .zb7t6bodyitechile {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    text-align: center;
    color: #fff;

  }

  .zb7t6bodyitechilesubpage {
    font-size: 16px;
    color: #fff !important;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 3;
  }

  .zb7t6bodyitechilesubpage:hover {
    opacity: 0.8;
    transform: translateY(-2px);
  }

  @media screen and (max-width: 1024px) {
    .zb7t6bodyitem {
      width: calc(100% - 30px);
    }

    .zb7t6body {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }


  .z2x3j-out {
    background-color: #056633;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 20px 0px 20px 0px;
    float: left;
  }
  .z2x3j-right-body-chile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
  }
  .z2x3j-right-body-chile-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid;
    border-style: dashed;
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
  }
  .z2x3j-right-body-chile-row-name {
    font-size: 22px;
    font-weight: 500;
  }
  .z2x3j-right-body-chile-row-spot {
    font-size: 18px;
  }
  .z2x3j-right-body {
    width: 100%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
  .z2x3j-right-body-name {
    font-size: 28px;
    font-weight: 500;
  }
  .z2x3j-right-body-spot {
    font-size: 18px;
  }
  .z2x3j {
    width: var(--max);
    display: flex;
    flex-direction: row;
    min-height: 400px;
    float: left;
  }
  .z2x3j-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .z2x3j-left {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .z2x3j-left-img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    width: 300px;
    background-color: bisque;
    margin-right: -150px;
    border: solid 15px #fff;
    box-shadow: 0 4px 40px rgba(29, 27, 76, 0.32);
  }
  @media screen and (max-width: 1024px) {
    .z2x3j {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 400px;
      float: left;
      padding: 15px 0px 15px 0px;
    }
    .z2x3j-left-img {
      width: calc(var(--max) / 2);
      max-width: 200px;
      margin-right: 0px;
      float: left;
    }
    .z2x3j-right-body {
      margin-left: 0;
      padding: 10px;
    }
    .z2x3j-left {
      justify-content: center;
      background-color: #056633;
    }
  }
  @media screen and (min-width: 1024px) {
    .z2x3j {
      width: var(--max);
      display: flex;
      flex-direction: row;
      min-height: 400px;
    }
    .z2x3j-right-body-chile-row {
      flex: 1;
    }
    .z2x3j-right {
      flex: 5;
    }
    .z2x3j-left {
      flex: 1;
    }
  }


  .lgm9a {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .lgm9acontainertitle {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  .lgm9acontainerlist {
    padding: 10px;
    display: flex;
    border-radius: 8px;
    border-bottom: solid 1px #ddd;
    gap: 20px;
    transition: background-color 0.3s ease;
  }
  .lgm9acontainerlist > div {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #444;
  }
  .lgm9acontainerlist:hover {
    background-color: #f9f9f9;
    border-bottom-color: #1e3046;
  }
  .lgm9acontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  .lgm9acontainerbody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .lgm9abody {
    width: calc(var(--max) - 40px);
    background-color: #ebebeb;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 20px;
  }
  .lgm9acontainerlist > span {
    font-size: 24px;
    color: #1e3046;
  }
  @media screen and (max-width: 1024px) {
    .lgm9abody {
      width: 100%;
      padding: 20px;
      flex-direction: column;
    }
    .lgm9acontainerbody {
      padding: 15px;
    }
  }


  .zoom-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200;
    width: 100%;
  }
  .zoom-icon {
    font-size: 250px !important;
    color: #333;
    animation: pulse 2s infinite;
    opacity: 0.5;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .i2kx8-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--max);
  }
  .i2kx8-body-chile {
    padding: 20px;
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
    position: absolute;
  }
  .i2kx8-body-chile > div {
    width: 100% !important;
  }
  .i2kx82 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  .i2kx8 {
    display: flex;
    flex-direction: column;
  }
  .i2kx8 > svg {
    width: 100vw;
  }
  .i2kx8botton {
    transform: scaleY(-1);
    margin-bottom: -1px;
  }
  .i2kx8-svg {
    fill: #fff;
  }
  .i2kx8-bg {
    background-image: url("/img/hzjrz9/map.png") !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  @media screen and (max-width: 1024px) {
  }


  .mqbff {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 350ms ease;
  }

  .mqbff.bg-fade {
    background-color: transparent;
  }

  .mqbff.hide {
    transform: translateY(-50vh) scale(0.3);
    opacity: 0;
    transition: all 400ms ease-in-out;
  }

  .loading-mqbff {
    width: 50vw;
    height: 50vw;
    perspective: 1000px;
    background-color: #fff;
    aspect-ratio: 1/1;
    border-radius: 100%;
  }

  .loading-mqbff img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .animate-logo {
    animation: logoEntrance 1.8s ease-out forwards;
    opacity: 0;
    transform-style: preserve-3d;
  }

  @keyframes logoEntrance {
    0% {
      opacity: 0;
      transform: translateY(50px) rotateX(-30deg) scale(0.3);
    }

    40% {
      opacity: 1;
      transform: translateY(-20px) rotateX(20deg) scale(1.1);
    }

    70% {
      transform: translateY(10px) rotateX(-10deg) scale(0.95);
    }

    100% {
      opacity: 1;
      transform: translateY(0) rotateX(0) scale(1);
    }
  }


  .sliderxfb0pfbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #056633 0%, #9cca3b 100%);
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
  }
  .sliderxfb0pf {
    width: calc(var(--max) - 40px);
    display: flex;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 25px;
    gap: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  .sliderxfb0pf:hover {
    transform: translateY(-5px);
  }
  .sliderxfb0pftitle {
    width: 60%;
    font-size: 28px;
    padding-right: 15px;
    color: #004e92;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #004e92;
  }
  .fb0pf {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .fb0pf-media {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .fb0pf-media:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 1200px) {
    .sliderxfb0pf {
      width: calc(var(--max) - 100px) !important;
    }
    .fb0pf-media {
      width: 60px;
      height: 60px;
    }
  }


  .footer {
    position: relative;
    background: #056633;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23056633;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

